.skill-icon {
    padding: 3px;
}
.skillName  {
    background-color: black;
    color: white;
    text-align: center;
}

.skill-card div {
    cursor: pointer;
    pointer-events: all;
    box-shadow: 5px 5px 0px 0 #3a1372;
    overflow: hidden;
    border-radius: 10px;
    object-fit:cover;
  }

.skill-card div img {
    width:auto;
    height: auto;
    transition: transform 1s;
  }

.skill-card div:hover img {
    transform: scale(1.1);
}
